<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule /?\.htaccess$ - [F,L]
    RewriteBase /portal-ciudadano-dashboard-dev
    RewriteCond %{SERVER_PORT} 80
    RewriteCond %{REQUEST_URI} portal-ciudadano-dashboard-dev
    RewriteRule ^(.*)$ https://sim.idrd.gov.co/portal-ciudadano-dashboard-dev/$1 [R,L]
    RewriteRule ^portal-ciudadano-dashboard-dev/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /portal-ciudadano-dashboard-dev/index.html [L]
</IfModule>
